:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #EA4C89;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 24px 0;
  text-align: center;
}

.wrapper {
  width: fit-content;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  margin: 8px 0 16px;
  width: 100%;
}

button {
  background-color: var(--primary-color);
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  margin-right: 6px;
}

button:hover,
button:focus {
  background-color: #F082AC;
}

select {
  background-color: #333;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  margin-right: 6px;
}

#speed-icon {
  margin: 0 8px 0 16px;
  width: 28px;
}

input[type="range"] {
  accent-color: var(--primary-color);
}

#buttons {
  flex: auto;
}

#inner-buttons {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

#info p {
  margin: 0;
}
